.rodape-bg {
    background: var(--c12);
}
.rodape {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.rodape h3 {
    margin-bottom: 32px;
}
.rodape ul {
    margin-bottom: 32px;
}
.rodape li {
    margin-bottom: 16px;
}
.rodape a {
    color: var(--c05);
}
.rodape a:hover {
    color: var(--c00);
}
.rodape-redes {
    display: flex;
    gap: 32px
}

.rodape-contato li:nth-child(even):after {
    content: "";
    display: block;
    height: 2px;
    max-width: 360px;
    background: var(--c11);
    margin-top: 16px;
}

.rodape-copy {
    grid-column: 1/-1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .rodape > img {
        display: none;
    }
    .rodape {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .rodape {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .rodape-copy {
        margin-top: 0px;

    }
}